{% extends 'container.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="mt-3">
        <!--Section Missions-->
        <section id="missions" class="text-center">
            {% if openMissions is null or archivedMissions is null %}
                <h2>{{ 'Something went wrong while fetching missions list...'|trans }}</h2>
                <h3>{{ 'Try again later'|trans }}</h3>
            {% else %}
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">{{ 'Open missions'|trans }}</h2>

                {% for missionsRow in openMissions|batch(3) %}
                    <!--Grid row-->
                    <div class="row">
                        {% for mission in missionsRow %}
                            {# @var mission \App\Http\Mission\Dto\MissionDto #}
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mission">
                                <div class="img-mission">
                                    {% if mission.image %}
                                        <img src="{{ proxy_image(mission.image) }}" alt="">
                                    {% endif %}
                                </div>

                                <div class="text-center mt-2 mb-4">
                                    <h4>
                                        <span class="font-weight-bold">{{ mission.title }}</span>
                                    </h4>
                                    <div class="d-flex justify-content-between">
                                        <span>
                                            {{ mission.date|date('Y-m-d H:m') }}
                                        </span>
                                        <span>
                                            {{ 'Enlisted'|trans }} {{ mission.freeSlots }}/{{ mission.allSlots }}
                                        </span>
                                    </div>
                                </div>

                                <div class="text-justify">
                                    {{ ((mission.description|u).truncate(350, '...'))|markdown_to_html }}
                                </div>
                            </div>
                            <!--/Grid column-->
                        {% endfor %}
                    </div>
                    <!--/Grid row-->
                {% endfor %}
            </section>

            <!--Section Missions-->
            <section id="missionsArchive" class="text-center">
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold">{{ 'Completed missions'|trans }}</h2>

                {% for missionsRow in archivedMissions|batch(3) %}
                    <!--Grid row-->
                    <div class="row">
                        {% for mission in missionsRow %}
                            {# @var mission \App\Http\Mission\Dto\MissionDto #}
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mission">
                                <div class="img-mission">
                                    {% if mission.image %}
                                        <img class="lazy" src="{{ asset('img/placeholder_320x250.png') }}" data-src="{{ proxy_image(mission.image) }}" alt="">
                                    {% endif %}
                                </div>

                                <div class="text-center mt-2 mb-4">
                                    <h4>
                                        <span class="font-weight-bold">{{ mission.title }}</span>
                                    </h4>
                                    <div class="d-flex justify-content-between">
                                        <span>
                                            {{ mission.date|date('Y-m-d H:m') }}
                                        </span>
                                        <span>
                                            {{ 'Enlisted'|trans }} {{ mission.freeSlots }}/{{ mission.allSlots }}
                                        </span>
                                    </div>
                                </div>

                                <div class="text-justify">
                                    {{ ((mission.description|u).truncate(350, '...'))|markdown_to_html }}
                                </div>
                            </div>
                            <!--/Grid column-->
                        {% endfor %}
                    </div>
                    <!--/Grid row-->
                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock %}
