{% macro row_action(path, iconClass, title, attrArray = {}) %}
    {% if title %}
        {% set attrArray = attrArray|merge({ 'title': title }) %}
    {% endif %}

    {% set attrString = attrArray|map((attrValue, attrName) => "#{attrName}=\"#{attrValue}\"")|join(' ') %}

    <a class="mx-2" href="{{ path }}" {{ attrString|raw }}>
        {%- if iconClass -%}
            <i class="{{ iconClass }}"></i>
        {%- endif -%}
    </a>
{% endmacro %}

{% macro row_action_edit(path, title) %}
    {{ _self.row_action(path, 'fas fa-edit', title) }}
{% endmacro %}

{% macro row_action_delete(path, confirmMessage, title) %}
    {{ _self.row_action(path, 'fas fa-trash-alt text-danger', title, {
        'data-modal-confirm': confirmMessage
    }) }}
{% endmacro %}

{% macro row_blameable(date, user) %}
    {{ _self.format_date(date) }}
    {% if user %}
        <i class="fas fa-user" title="{{ user.username }}"></i>
    {% endif %}
{% endmacro %}

{% macro row_described(name, description = null) %}
    <span
        {% if description %}
            title="{{ description }}" data-toggle="tooltip"
        {% endif %}
    >{{ name }}</span>
{% endmacro %}
