{% extends 'container.html.twig' %}

{% form_theme form _self %}

{% block content %}
    {# @var modListFormDto \App\Form\Mod\Dto\ModListFormDto #}
    {% set modListFormDto = form.vars.data %}

    <div class="row my-3 align-items-center">
        <div class="col-md-6">
            <h2>{{ modListFormDto.id ? 'Edit mod list'|trans : 'Create mod list'|trans }}</h2>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group text-right">
        <button type="submit" class="btn-primary btn">{{ modListFormDto.id ? 'Apply'|trans : 'Create mod list'|trans }}</button>
        <a href="{{ path('app_mod_list_list') }}" class="btn-secondary btn">{{ 'Cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block _mod_list_form_mods_row %}
    {% include 'mod_list/_partial/_mod_list_form_mods_row.html.twig' %}
{% endblock %}
