{% extends 'container.html.twig' %}

{% import '_macro/table_macro.html.twig' as tableMacro %}

{% block content %}
    <div class="row my-3 align-items-center">
        <div class="col-md-6">
            <h2>{{ 'Mod lists'|trans }}</h2>
        </div>
        <div class="col-md-6 text-right">
            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_CREATE')) %}
                <a href="{{ path('app_mod_list_create') }}" class="btn btn-primary">{{ 'Create mod list'|trans }}</a>
            {% endif %}
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th scope="col">{{ 'Mod list name'|trans }}</th>
                    <th scope="col">{{ 'Mod list description'|trans }}</th>
                    <th scope="col">{{ 'Mod list owner'|trans }}</th>
                    <th scope="col">{{ 'Mod list active'|trans }}</th>
                    <th scope="col">{{ 'Created at'|trans }}</th>
                    <th scope="col">{{ 'Last updated at'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {# @var modList \App\Entity\ModList\ModList #}
                {% for modList in modLists %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ modList.name }}</td>
                        <td>{{ modList.description }}</td>
                        <td>{{ modList.owner ? modList.owner.username : '' }}</td>
                        <td>{{ modList.active ? 'Yes'|trans : 'No'|trans }}</td>
                        <td>{{ tableMacro.row_blameable(modList.createdAt, modList.createdBy) }}</td>
                        <td>{{ tableMacro.row_blameable(modList.lastUpdatedAt, modList.lastUpdatedBy) }}</td>
                        <td class="text-right">
                            {{ tableMacro.row_action(path('app_mod_list_public_customize', { name: modList.name }), 'fas fa-download', 'Download mod list'|trans) }}

                            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_UPDATE'), modList) %}
                                {{ tableMacro.row_action_edit(path('app_mod_list_update', { name: modList.name }), 'Edit mod list'|trans) }}
                            {% endif %}

                            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_COPY'), modList) %}
                                {{ tableMacro.row_action(path('app_mod_list_copy', { name: modList.name }), 'fas fa-copy', 'Copy and edit mod list'|trans) }}
                            {% endif %}

                            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_DELETE'), modList) %}
                                {{ tableMacro.row_action_delete(path('app_mod_list_delete', { name: modList.name }), 'Are you sure you want to delete %name%?'|trans({ '%name%': modList.name }), 'Delete mod list'|trans) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
