{% extends 'container.html.twig' %}

{% block content %}
    <div class="mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'Mod lists'|trans }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 py-2">
                {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_CREATE')) %}
                    <a href="{{ path('app_mod_list_create') }}" class="btn btn-primary">{{ 'Create mod list'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ 'Mod list name'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {# @var modList \App\Entity\ModList\ModList #}
                    {% for modList in modLists %}
                        <tr>
                            <th scope="row">{{ modList.name }}</th>
                            <td class="table-actions">
                                <a href="{{ path('app_mod_list_download', { id: modList.id }) }}">{{ 'Download mod list'|trans }}</a>

                                {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_UPDATE'), modList) %}
                                    <a href="{{ path('app_mod_list_update', { id: modList.id }) }}">{{ 'Edit mod list'|trans }}</a>
                                {% endif %}

                                {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_DELETE'), modList) %}
                                    <a href="{{ path('app_mod_list_delete', { id: modList.id }) }}">{{ 'Delete mod list'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
