{% embed '_partial/_table.html.twig' %}
    {% import '_macro/table_macro.html.twig' as tableMacro %}

    {% block table_head %}
        <tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="w-100">{{ 'Username'|trans }}</th>
            <th scope="col">{{ 'Discord ID'|trans }}</th>
            <th scope="col">{{ 'Created at'|trans }}</th>
            <th scope="col">{{ 'Last updated at'|trans }}</th>
            <th scope="col">{{ 'Select'|trans }}</th>
        </tr>
    {% endblock %}
    {% block table_body %}
        {% set rowNo = 1 %}

        {# @var user \App\UserManagement\Domain\Model\User\UserInterface #}
        {% for child in form.children %}
            {% set user = form.vars.choices[loop.index0].data %}

            <tr data-row-action-checkbox>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.externalId }}</td>
                <td>{{ tableMacro.row_blamable(user.createdAt, user.createdBy) }}</td>
                <td>{{ tableMacro.row_blamable(user.lastUpdatedAt, user.lastUpdatedBy) }}</td>
                <td>
                    {{- form_widget(child, {
                        parent_label_class: label_attr.class|default(''),
                        translation_domain: choice_translation_domain,
                    }) -}}
                </td>
            </tr>

            {% set rowNo = rowNo + 1 %}
        {% endfor %}
    {% endblock %}
{% endembed %}
