<tr>
    <th scope="row">{{ rowNo }}</th>
    <td>{{ mod.name }}</td>
    <td>
        {{- form_widget(child, {
            parent_label_class: label_attr.class|default(''),
            translation_domain: choice_translation_domain,
        }) -}}
    </td>
    <td>
        {% if mod is instance_of('\\App\\Entity\\Mod\\SteamWorkshopMod') %}
            <a href="{{ steam_workshop_item_url(mod.itemId) }}">{{ 'Steam Workshop'|trans }}</a>
        {% elseif mod is instance_of('\\App\\Entity\\Mod\\DirectoryMod') %}
            {{ 'Directory'|trans }}
        {% endif %}
    </td>
</tr>
