<!-- Icons -->
<ul class="navbar-nav nav-icons">
    <!-- GitHub -->
    <li class="nav-item">
        <a href="{{ global.app.url.github_af }}" target="_blank" class="nav-link">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <!--/ GitHub -->

    <!-- Discord -->
    <li class="nav-item">
        <a href="{{ global.app.url.discord }}" target="_blank" class="nav-link">
            <i class="fab fa-discord"></i>
        </a>
    </li>
    <!--/ Discord -->

    <!-- Steam -->
    <li class="nav-item">
        <a href="{{ global.app.url.steam }}" target="_blank" class="nav-link">
            <i class="fab fa-steam"></i>
        </a>
    </li>
    <!--/ Steam -->

    <!-- TeamSpeak -->
    {% if is_granted('ROLE_USER') %}
        <li class="nav-item icon-teamspeak">
            <a href="{{ global.app.url.teamspeak }}" class="nav-link"><i class="fab fa-teamspeak"></i></a>
        </li>
    {% else %}
        <li class="nav-item icon-teamspeak" title="{{ 'Available after login'|trans }}" data-toggle="tooltip" data-placement="bottom">
            <a class="nav-link disabled"><i class="fab fa-teamspeak"></i></a>
        </li>
    {% endif %}
    <!--/ TeamSpeak -->

    <!-- Login -->
    <li id="navmenu" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown">
            {% if is_granted('ROLE_USER') %}
                <i class="fa fa-user-circle avatar" style="background-image: url({{ current_user_avatar_url() }}), url({{ default_avatar_url() }});"></i>
            {% else %}
                <i class="fa fa-user-circle"></i>
            {% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            {% if is_granted('ROLE_USER') -%}
                <a class="dropdown-item" href="{{ path('app_security_logout') }}">{{ 'Logout'|trans }}</a>
            {% else %}
                <a class="dropdown-item" href="{{ path('app_security_connect_discord') }}">{{ 'Login'|trans }}</a>
            {% endif %}
        </div>
    </li>
    <!--/ Login -->
</ul>
<!--/ Icons -->
