<!-- Links -->
<ul class="navbar-nav mr-auto smooth-scroll">
    <li class="nav-item">
        <a class="nav-link" href="/">{{ 'Homepage'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_home_missions') }}">{{ 'Missions'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_mod_list_public_select') }}">{{ 'Get mods'|trans }}</a>
    </li>
    {% if
        is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::MOD_LIST'))
        or is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::MOD_GROUP_LIST'))
        or is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::DLC_LIST'))
        or is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::MOD_LIST_LIST'))
    %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                {{ 'Manage mods'|trans }}
            </a>
            <div class="dropdown-menu">
                {% if is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::MOD_LIST')) %}
                    <a class="dropdown-item" href="{{ path('app_mod_list') }}">{{ 'Mods'|trans }}</a>
                {% endif %}

                {% if is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::MOD_GROUP_LIST')) %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_mod_group_list') }}">{{ 'Mod groups'|trans }}</a>
                {% endif %}

                {% if is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::DLC_LIST')) %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_dlc_list') }}">{{ 'DLCs'|trans }}</a>
                {% endif %}

                {% if is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::MOD_LIST_LIST')) %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_mod_list_list') }}">{{ 'Mod lists'|trans }}</a>
                {% endif %}
            </div>
        </li>
    {% endif %}
    {% if
        is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::USER_LIST'))
        or is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::USER_GROUP_LIST'))
    %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                {{ 'Manage users'|trans }}
            </a>
            <div class="dropdown-menu">
                {% if is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::USER_LIST')) %}
                    <a class="dropdown-item" href="{{ path('app_user_list') }}">{{ 'Users'|trans }}</a>
                {% endif %}

                {% if is_granted(constant('App\\SharedKernel\\Infrastructure\\Security\\Enum\\PermissionsEnum::USER_GROUP_LIST')) %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_user_group_list') }}">{{ 'User groups'|trans }}</a>
                {% endif %}
            </div>
        </li>
    {% endif %}
</ul>
<!-- Links -->
