<!-- Links -->
<ul class="navbar-nav mr-auto smooth-scroll">
    <li class="nav-item">
        <a class="nav-link" href="/">{{ 'Homepage'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_home_missions') }}">{{ 'Missions'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_mod_list_public_select') }}">{{ 'Get mods'|trans }}</a>
    </li>
    {% if
        is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::MOD_LIST').value)
        or is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::MOD_GROUP_LIST').value)
        or is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::DLC_LIST').value)
        or is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::MOD_LIST_LIST').value)
    %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                {{ 'Manage mods'|trans }}
            </a>
            <div class="dropdown-menu">
                {{ _self.navbar_dropdown([
                    {
                        'show': is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::MOD_LIST').value),
                        'url': path('app_mod_list'),
                        'label': 'Mods'|trans
                    },
                    {
                        'show': is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::MOD_GROUP_LIST').value),
                        'url': path('app_mod_group_list'),
                        'label': 'Mod groups'|trans
                    },
                    {
                        'show': is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::DLC_LIST').value),
                        'url': path('app_dlc_list'),
                        'label': 'DLCs'|trans
                    },
                    {
                        'show': is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::MOD_LIST_LIST').value),
                        'url': path('app_mod_list_list'),
                        'label': 'Mod lists'|trans
                    },
                ]) }}
            </div>
        </li>
    {% endif %}
    {% if
        is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::USER_LIST').value)
        or is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::USER_GROUP_LIST').value)
    %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                {{ 'Manage users'|trans }}
            </a>
            <div class="dropdown-menu">
                {{ _self.navbar_dropdown([
                    {
                        'show': is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::USER_LIST').value),
                        'url': path('app_user_list'),
                        'label': 'Users'|trans
                    },
                    {
                        'show': is_granted(constant('App\\Shared\\Security\\Enum\\PermissionsEnum::USER_GROUP_LIST').value),
                        'url': path('app_user_group_list'),
                        'label': 'User groups'|trans
                    },
                ]) }}
            </div>
        </li>
    {% endif %}
</ul>
<!-- Links -->

{% macro navbar_dropdown(links) %}
    {% for link in links %}
        {% if link.show == true %}
            <a class="dropdown-item" href="{{ link.url }}">{{ link.label }}</a>

            {% if loop.last == false %}
                <div class="dropdown-divider"></div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}
