<!-- Footer -->
<footer id="footer" class="page-footer font-small unique-color-dark">

    <div class="container mt-5 mb-4 text-center text-md-left">
        <!-- Grid row -->
        <div class="row pt-3">

            <!-- Grid column -->
            <div class="col-sm-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>{{ 'Useful links'|trans }}</strong>
                </h6>
                <hr class="hr-light mt-0 d-inline-block" style="width: 60px;">
                <p>
                    <a href="{{ global.app.url.statute }}">{{ 'Statute'|trans }}</a>
                </p>
                <p>
                    <a href="{{ global.app.url.calendar }}">{{ 'Calendar'|trans }}</a>
                </p>
                <p>
                    <a href="{{ global.app.url.wiki }}">{{ 'Wiki'|trans }}</a>
                </p>
            </div>
            <!--/ Grid row -->

        </div>
        <!--/ Grid row -->
    </div>

    <div class="footer-copyright text-center py-3">
        © {{ 'now'|date('Y') }} Copyright:
        <a href="{{ global.app.url.github ~ '/contributors' }}"> {{ global.app.organization }}</a>
        <br/>
        <span class="small">
            Version:
            <a href="{{ global.app.url.github ~ '/commit/' ~ app_version() }}">{{ app_version_short() }}</a>
        </span>
    </div>

</footer>
<!--/ Footer -->
