{% extends 'container.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modListCustomize') }}
{% endblock %}

{% block content %}
    <div class="row my-3 align-items-center">
        <div class="col-md-6">
            <h2>{{ 'Mod list customization'|trans }}</h2>
        </div>
        <div class="col-md-6 text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-download-optional="{{ modList.id }}">
                    {{ 'Download'|trans }}
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-download-required="{{ modList.id }}">{{ 'Download required'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="optional-mods-tab" data-toggle="tab" href="#optional-mods" role="tab" aria-controls="home" aria-selected="true">
                        {{ 'Optional mods'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="required-mods-tab" data-toggle="tab" href="#required-mods" role="tab" aria-controls="profile" aria-selected="false">
                        {{ 'Required mods'|trans }}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                {% include 'mod_list_public/_partial/_optional_mods_tab.html.twig' %}
                {% include 'mod_list_public/_partial/_required_mods_tab.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
