{% extends 'card.html.twig' %}

{% block content %}
    {% embed '_partial/_page_header.html.twig' %}
        {% block page_title %}
            {{ 'Mod lists'|trans }}
        {% endblock %}
    {% endembed %}

    {% embed '_partial/_table.html.twig' %}
        {% import '_macro/table_macro.html.twig' as tableMacro %}

        {% block table_head %}
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col" class="w-100">{{ 'Mod list name'|trans }}</th>
                <th scope="col">{{ 'Last updated at'|trans }}</th>
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {# @var modList \App\Entity\ModList\ModList #}
            {% for modList in modLists %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {% if modList.approved %}
                            {{ tableMacro.icon('fas fa-check', 'Mod list approved'|trans) }}
                        {% endif %}
                    </td>
                    <td>{{ modList.name }}</td>
                    <td>{{ tableMacro.format_date(modList.lastUpdatedAt) }}</td>
                    <td class="text-right">
                        {{ tableMacro.row_action(path('app_mod_list_public_customize', { name: modList.name }), 'fas fa-download', 'Download mod list'|trans) }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
