{% embed '_partial/_table.html.twig' %}
    {% import '_macro/table_macro.html.twig' as tableMacro %}

    {% block table_head %}
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col" class="w-100">{{ 'Mod name'|trans }}</th>
            <th scope="col">{{ 'Mod source'|trans }}</th>
            <th scope="col">{{ 'Select'|trans }}</th>
        </tr>
    {% endblock %}
    {% block table_body %}
        {% set rowNo = 1 %}

        {# @var mod \App\Entity\Mod\AbstractMod #}
        {% for child in form.children %}
            {% set mod = form.vars.choices[loop.index0].data %}
            {% if mod is instance_of('\\App\\Entity\\Mod\\SteamWorkshopMod') %}
                {# @var mod \App\Entity\Mod\SteamWorkshopMod #}
                {% set modType = mod.type.value %}
            {% elseif mod is instance_of('\\App\\Entity\\Mod\\DirectoryMod') %}
                {# @var mod \App\Entity\Mod\DirectoryMod #}
                {# Treat Directory mods as Server side mods for BC #}
                {% set modType = constant('App\\Entity\\Mod\\Enum\\ModTypeEnum::SERVER_SIDE') %}
            {% endif %}

            {% if modType == modTypeFilter %}
                <tr data-row-action-checkbox>
                    <th scope="row">{{ rowNo }}</th>
                    <td>
                        {{ tableMacro.row_mod_status_icon(mod) }}
                    </td>
                    <td>
                        {{ tableMacro.row_name_with_description(mod.name, mod.description) }}
                    </td>
                    <td>
                        {{ tableMacro.row_mod_source_url(mod) }}
                    </td>
                    <td>
                        {{- form_widget(child, {
                            parent_label_class: label_attr.class|default(''),
                            translation_domain: choice_translation_domain,
                        }) -}}
                    </td>
                </tr>

                {% set rowNo = rowNo + 1 %}
            {% endif %}
        {% endfor %}
    {% endblock %}
{% endembed %}
