{% import '_macro/tab_macro.html.twig' as tabMacro %}

{% set active = active|default('') %}

<li class="nav-item ml-auto">
    <a class="nav-link{{ tabMacro.nav_active(active, 'server-side-mods') }}" data-toggle="tab" href="#server-side-mods" role="tab">
        {{ 'Server side mods'|trans }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link{{ tabMacro.nav_active(active, 'required-mods') }}" data-toggle="tab" href="#required-mods" role="tab">
        {{ 'Required mods'|trans }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link{{ tabMacro.nav_active(active, 'optional-mods') }}" data-toggle="tab" href="#optional-mods" role="tab">
        {{ 'Optional mods'|trans }}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link{{ tabMacro.nav_active(active, 'client-side-mods') }}" data-toggle="tab" href="#client-side-mods" role="tab">
        {{ 'Client side mods'|trans }}
    </a>
</li>
