{% extends 'card.html.twig' %}

{% form_theme form _self %}

{% block content %}
    {# @var userGroupFormDto \App\Form\UserGroup\Dto\UserGroupFormDto #}
    {% set userGroupFormDto = form.vars.data %}

    {% embed '_partial/_page_header.html.twig' %}
        {% block page_title %}
            {{ userGroupFormDto.id ? 'Edit user group'|trans : 'Create user group'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    {% include 'user_group/_partial/combo_tabs/_combo_tabs.html.twig' with { active: 'users' } %}

    <div class="form-group text-right">
        <button type="submit" class="btn-primary btn">{{ userGroupFormDto.id ? 'Apply'|trans : 'Create user group'|trans }}</button>
        <a href="{{ path('app_user_group_list') }}" class="btn-secondary btn">{{ 'Cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block _user_group_form_users_row %}
    {% include 'user_group/_partial/_users_table.html.twig' %}
{% endblock %}
