{%- set app_lang = app.request.locale|split('_')[0] -%}

<!doctype html>
<html lang="{{ app_lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ArmaForces is a polish Arma 3 gaming community">
        <meta name="author" content="ArmaForces">

        <link rel="icon shortcut" href="{{ asset('favicon.ico') }}" type="image/x-icon">

        <title>{{ title ?? 'ArmaForces' }}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    </head>

    <body>
    {% block body %}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
