{% extends 'layout/_default.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('landing') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('landing') }}
{% endblock %}

{% block body %}
    <!--Main Navigation-->
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
           {% include '_navbar.html.twig' %}
        </nav>
        <!--/.Navbar-->

        <!--Mask-->
        <div id="intro">
            <div class="mask">
                <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-md-10">

                            <!-- Heading -->
                            <h2 class="display-3 font-good-brush pt-5 mb-2" style="margin-left: -3rem;">
                                <span class="display-1">A</span>rma<span class="display-1">F</span>orces
                            </h2>

                            <!-- Divider -->
                            <hr class="hr-dark">

                            <!-- Description -->
                            <h4 class="mb-4 mt-2">
                                Semper specialis.
                            </h4>

                            <!-- Button About -->
                            <a href="{{ path('app_home_index') }}#about" class="btn btn-outline-white mx-3 smooth-scroll">
                                {{ 'About us'|trans }}
                            </a>

                            <!-- Button Join Us -->
                            <a href="{{ path('app_home_joinus') }}" class="btn btn-outline-white mx-3 smooth-scroll">
                                {{ 'Join us!'|trans }}
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/.Mask-->

    </header>
    <!--/Main Navigation-->

    <!--Main Content-->
    <main class="mt-5">
        <div class="container">

            {% include 'partials/index/_about.html.twig' %}

            {# <hr class="my-5">
            {% include 'partials/index/_missions.html.twig' %} #}

            {#<hr class="my-5">
            {% include 'partials/index/_media.html.twig' %}#}

        </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer id="footer" class="page-footer font-small unique-color-dark">

        {# {% include 'partials/index/_footer_social.html.twig' %} #}

        <!--Footer Links-->
        <div class="container mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">

                <!--First column-->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Company name</strong>
                    </h6>
                    <hr class="hr-light mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.</p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Products</strong>
                    </h6>
                    <hr class="hr-light mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">MDBootstrap</a>
                    </p>
                    <p>
                        <a href="#!">MDWordPress</a>
                    </p>
                    <p>
                        <a href="#!">BrandFlow</a>
                    </p>
                    <p>
                        <a href="#!">Bootstrap Angular</a>
                    </p>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Useful links</strong>
                    </h6>
                    <hr class="hr-light mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Your Account</a>
                    </p>
                    <p>
                        <a href="#!">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#!">Help</a>
                    </p>
                </div>
                <!--/.Third column-->

                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="hr-light mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home"></i></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> info@example.com</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p>
                        <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/ArmaForces/Website/contributors"> ArmaForces</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
{% endblock body %}
