{% extends 'card.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modForm') }}
{% endblock %}

{% block content %}
    {# @var modFormDto \App\ModManagement\UserInterface\Http\Form\Mod\Dto\ModFormDto #}
    {% set modFormDto = form.vars.data %}

    {% embed '_partial/_page_header.html.twig' %}
        {% block page_title %}
            {{ modFormDto.id ? 'Edit mod'|trans : 'Create mod'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group text-right">
        <button type="submit" class="btn-primary btn">{{ modFormDto.id ? 'Apply'|trans : 'Create mod'|trans }}</button>
        <a href="{{ path('app_mod_list') }}" class="btn-secondary btn">{{ 'Cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
