{% extends 'container.html.twig' %}

{% block content %}
    <div class="mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'Mods list'|trans }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 py-2">
                {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MODS_CREATE')) %}
                    <a href="{{ path('app_mod_create') }}" class="btn btn-primary">{{ 'Create mod'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ 'Mod name'|trans }}</th>
                    <th scope="col">{{ 'Mod type'|trans }}</th>
                    <th scope="col">{{ 'Mod source'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {# @var mod \App\Entity\Mod\Mod #}
                    {% for mod in mods %}
                        <tr>
                            <th scope="row">{{ mod.name }}</th>
                            <td>
                                {% if mod.type.is(constant('App\\Entity\\Mod\\Enum\\ModTypeEnum::SERVER_SIDE')) %}
                                    {{ 'Server side mod'|trans }}
                                {% elseif mod.type.is(constant('App\\Entity\\Mod\\Enum\\ModTypeEnum::REQUIRED')) %}
                                    {{ 'Required mod'|trans }}
                                {% elseif mod.type.is(constant('App\\Entity\\Mod\\Enum\\ModTypeEnum::OPTIONAL')) %}
                                    {{ 'Optional mod'|trans }}
                                {% elseif mod.type.is(constant('App\\Entity\\Mod\\Enum\\ModTypeEnum::CLIENT_SIDE')) %}
                                    {{ 'Client side mod'|trans }}
                                {% endif %}
                            </td>
                            <td>
                                {% if mod is instance_of('\\App\\Entity\\Mod\\SteamWorkshopMod') %}
                                    <a href="{{ mod.url }}">{{ 'Steam Workshop'|trans }}</a>
                                {% elseif mod is instance_of('\\App\\Entity\\Mod\\DirectoryMod') %}
                                    {{ 'Directory'|trans }}
                                {% endif %}
                            </td>
                            <td class="table-actions">
                                {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MODS_UPDATE'), mod) %}
                                    <a href="{{ path('app_mod_update', { id: mod.id }) }}">{{ 'Edit mod'|trans }}</a>
                                {% endif %}

                                {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MODS_DELETE'), mod) %}
                                    <a href="{{ path('app_mod_delete', { id: mod.id }) }}">{{ 'Delete mod'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
