<div class="tab-pane fade show active" id="optional-mods" role="tabpanel" aria-labelledby="optional-mods-tab">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th scope="col">{{ 'Mod name'|trans }}</th>
                    <th scope="col">{{ 'Include mod?'|trans }}</th>
                    <th scope="col">{{ 'Steam Workshop ID'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set rowNo = 1 %}

                {# @var mod \App\Entity\Mod\Mod #}
                {% for mod in modList.mods %}
                    {% if mod is instance_of('\\App\\Entity\\Mod\\SteamWorkshopMod') and mod.type.value in [
                        constant('\\App\\Entity\\Mod\\Enum\\ModTypeEnum::OPTIONAL'),
                        constant('\\App\\Entity\\Mod\\Enum\\ModTypeEnum::CLIENT_SIDE')
                    ] %}
                        <tr>
                            <th scope="row">{{ rowNo }}</th>
                            <td>{{ mod.name }}</td>
                            <td>
                                {% set modEntryId = 'mod-' ~ mod.id %}

                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="{{ modEntryId }}" class="custom-control-input" data-multi-row-select="optionalMods" data-multi-row-select-element-id="{{ mod.id }}">
                                    <label class="switch-custom custom-control-label" for="{{ modEntryId }}"></label>
                                </div>
                            </td>
                            <td>
                                <a href="{{ steam_workshop_item_url(mod.itemId) }}">{{ mod.itemId }}</a>
                            </td>
                            <td></td>
                        </tr>

                        {% set rowNo = rowNo + 1 %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
