<div class="tab-pane fade show active" id="optional-mods" role="tabpanel">
    {% embed '_partial/_table.html.twig' %}
        {% import '_macro/table_macro.html.twig' as tableMacro %}

        {% block table_head %}
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col" class="w-100">{{ 'Mod name'|trans }}</th>
                <th scope="col">{{ 'Select'|trans }}</th>
                <th scope="col">{{ 'Steam Workshop ID'|trans }}</th>
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% set rowNo = 1 %}

            {# @var mod \App\ModManagement\Domain\Model\Mod\SteamWorkshopMod #}
            {% for mod in optionalMods %}
                {% if not mod.statusDisabled %}
                    <tr data-row-action-checkbox>
                        <th scope="row">{{ rowNo }}</th>
                        <td>{{ tableMacro.row_mod_status_icon(mod) }}</td>
                        <td>{{ tableMacro.row_name_with_description(mod.name, mod.description) }}</td>
                        <td>
                            {% set modEntryId = 'mod-' ~ mod.id %}

                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="{{ modEntryId }}" class="custom-control-input" data-multi-row-select="optionalMods" data-multi-row-select-element-id="{{ mod.id }}">
                                <label class="switch-custom custom-control-label" for="{{ modEntryId }}"></label>
                            </div>
                        </td>
                        <td><a href="{{ steam_workshop_item_url(mod.itemId) }}">{{ mod.itemId }}</a></td>
                        <td></td>
                    </tr>

                    {% set rowNo = rowNo + 1 %}
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
</div>
