<div class="tab-pane fade show active" id="optional-mods" role="tabpanel">
    {% embed '_partial/_table.html.twig' %}
        {% block table_head %}
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="w-100">{{ 'Mod name'|trans }}</th>
                <th scope="col">{{ 'Include?'|trans }}</th>
                <th scope="col">{{ 'Steam Workshop ID'|trans }}</th>
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% set rowNo = 1 %}

            {# @var mod \App\Entity\Mod\SteamWorkshopMod #}
            {% for mod in optionalMods %}
                <tr>
                    <th scope="row">{{ rowNo }}</th>
                    <td>{{ mod.name }}</td>
                    <td>
                        {% set modEntryId = 'mod-' ~ mod.id %}

                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="{{ modEntryId }}" class="custom-control-input" data-multi-row-select="optionalMods" data-multi-row-select-element-id="{{ mod.id }}">
                            <label class="switch-custom custom-control-label" for="{{ modEntryId }}"></label>
                        </div>
                    </td>
                    <td>
                        <a href="{{ steam_workshop_item_url(mod.itemId) }}">{{ mod.itemId }}</a>
                    </td>
                    <td></td>
                </tr>

                {% set rowNo = rowNo + 1 %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
</div>
