<div class="tab-pane fade" id="required-mods" role="tabpanel">
    {% embed '_partial/_table.html.twig' %}
        {% import '_macro/table_macro.html.twig' as tableMacro %}

        {% block table_head %}
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col" class="w-100">{{ 'Mod name'|trans }}</th>
                <th scope="col">{{ 'Steam Workshop ID'|trans }}</th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {% set rowNo = 1 %}

            {# @var mod \App\Entity\Mod\SteamWorkshopMod #}
            {% for mod in requiredMods %}
                {% if mod.status is null or not mod.status.is(constant('App\\Entity\\Mod\\Enum\\ModStatusEnum::DISABLED')) %}
                    <tr>
                        <th scope="row">{{ rowNo }}</th>
                        <td>{{ tableMacro.row_mod_status_icon(mod) }}</td>
                        <td>{{ tableMacro.row_name_with_description(mod.name, mod.description) }}</td>
                        <td><a href="{{ steam_workshop_item_url(mod.itemId) }}">{{ mod.itemId }}</a></td>
                    </tr>

                    {% set rowNo = rowNo + 1 %}
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
</div>
