{% extends 'shared/container.html.twig' %}

{% block content %}
    {% if nextMission %}
    <div class="container card bg-dark mt-4">
        {% embed 'shared/_partial/_page_header.html.twig' %}
            {% block page_title %}
                {{ 'Today\'s mission'|trans }}: {{ nextMission.title }}
            {% endblock %}
            {% block page_subtitle %}

                {{ 'Download mod list'|trans }}:
                {% if nextMissionModList %}
                    <a href="{{ path('app_mod_list_public_customize', { name: nextMissionModList.name }) }}">
                        {{ nextMissionModList.name }}
                        <i class="fas fa-download" ></i>
                    </a>
                {% else %}
                    {{ nextMission.modlist }}
                {% endif %}
            {% endblock %}

            {% block page_actions_row %}{% endblock %}
        {% endembed %}
    </div>
    {% endif %}

    <div class="container card bg-dark mt-4">
        {% embed 'shared/_partial/_page_header.html.twig' %}
            {% block page_title %}
                {{ 'Mod lists'|trans }}
            {% endblock %}
        {% endembed %}

        {% embed 'shared/_partial/_table.html.twig' %}
            {% import 'shared/_macro/common_macro.html.twig' as commonMacro %}
            {% import 'shared/_macro/table_macro.html.twig' as tableMacro %}

            {% block table_head %}
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col" class="w-100">{{ 'Mod list name'|trans }}</th>
                    <th scope="col">{{ 'Last updated at'|trans }}</th>
                    <th></th>
                </tr>
            {% endblock %}
            {% block table_body %}
                {# @var modList \App\Mods\Entity\ModList\ModList #}
                {% for modList in modLists %}
                    <tr data-row-action-url="{{ path('app_mod_list_public_customize', { name: modList.name }) }}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            {% if modList.approved %}
                                {{ tableMacro.icon('fas fa-check', 'Mod list approved'|trans) }}
                            {% endif %}
                        </td>
                        <td>
                            {{ modList.name }}

                            {# @var dlc \App\Mods\Entity\Dlc\Dlc #}
                            {% for dlc in modList.dlcs %}
                                {{ commonMacro.dlc_icon(dlc) }}
                            {% endfor %}
                        </td>
                        <td>{{ tableMacro.format_date(modList.lastUpdatedAt) }}</td>
                        <td class="text-right">
                            {{ tableMacro.row_action(path('app_mod_list_public_customize', { name: modList.name }), 'fas fa-download', 'Download mod list'|trans) }}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
