{% extends 'card.html.twig' %}

{% block content %}
    {% embed '_partial/_page_header.html.twig' %}
        {% block page_title %}
            {{ 'Mod groups'|trans }}
        {% endblock %}
        {% block page_actions %}
            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_GROUP_CREATE')) %}
                <a href="{{ path('app_mod_group_create') }}" class="btn btn-primary">{{ 'Create mod group'|trans }}</a>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% embed '_partial/_table.html.twig' %}
        {% import '_macro/table_macro.html.twig' as tableMacro %}

        {% block table_head %}
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="w-100">{{ 'Mod group name'|trans }}</th>
                <th scope="col">{{ 'Created at'|trans }}</th>
                <th scope="col">{{ 'Last updated at'|trans }}</th>
                <th></th>
            </tr>
        {% endblock %}
        {% block table_body %}
            {# @var modGroup \App\Entity\ModGroup\ModGroup #}
            {% for modGroup in modGroups %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {{ tableMacro.row_name_with_description(modGroup.name, modGroup.description) }}
                    </td>
                    <td>{{ tableMacro.row_blameable(modGroup.createdAt, modGroup.createdBy) }}</td>
                    <td>{{ tableMacro.row_blameable(modGroup.lastUpdatedAt, modGroup.lastUpdatedBy) }}</td>
                    <td class="text-right">
                        {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_GROUP_UPDATE'), modGroup) %}
                            {{ tableMacro.row_action_edit(path('app_mod_group_update', { name: modGroup.name }), 'Edit mod group'|trans) }}
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_GROUP_DELETE'), modGroup) %}
                            {{ tableMacro.row_action_delete(path('app_mod_group_delete', { name: modGroup.name }), 'Are you sure you want to delete %name%?'|trans({ '%name%': modGroup.name }), 'Delete mod group'|trans) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
