{%- set app_lang = app.request.locale|split('_')[0] -%}

<!doctype html>
<html lang="{{ app_lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"               content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="description"            content="{{ 'ArmaForces is a community'|trans }}">
        <meta name="author"                 content="ArmaForces">

        <!-- OpenGraph -->
        <meta property="og:site_name"   content="ArmaForces">
        <meta property="og:title"       content="ArmaForces - {{ 'Polish Arma 3 community'|trans }}">
        <meta property="og:description" content="{{ 'ArmaForces is a community'|trans }}">
        <meta property="og:image"       content="{{ asset('img/ArmaForces.png') }}">
        <!--/ OpenGraph -->

        <link rel="icon shortcut" href="{{ asset('favicon.ico') }}" type="image/x-icon">

        <title>{{ title ?? 'ArmaForces - '~'Polish Arma 3 community'|trans }}</title>

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/solid.css"        integrity="sha384-9AfJF7pZ+RYk3wXpf8ge6fc3XhPaW3Xl57Qj/mSzPckn9Tu8zJ9qUipWq+/utX20" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/brands.css"       integrity="sha384-ouytoyjvzHVJu1m+KEtJ+2Ys+WFsXUlknprEuQAUs62XNn0shj9U2QeTwdJQmPR1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/fontawesome.css"  integrity="sha384-VoScp22LWX8GkkUAmdkkkj+rz+/r84lmCD6FALIryJxjwBSz6kE6oebSlamQx19e" crossorigin="anonymous">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    </head>

    <body>
    {% block body %}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
