{% extends 'container.html.twig' %}

{# @var currentUser \App\Entity\User\User #}
{% set currentUser = app.token.user %}

{% block content %}
    <div class="table-responsive mt-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ 'Username'|trans }}</th>
                <th scope="col">{{ 'Discord ID'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {# @var user \App\Entity\User\User #}
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.username }}</th>
                        <td>{{ user.externalId }}</td>
                        <td class="table-actions">
                            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::USERS_MANAGE_PERMISSIONS'), user) %}
                                <a href="{{ path('app_user_permissions', { id: user.id }) }}">{{ 'Permissions'|trans }}</a>
                            {% endif %}

                            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::USERS_DELETE'), user) %}
                                <a href="{{ path('app_user_delete', { id: user.id }) }}">{{ 'Delete'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
