{% extends 'container.html.twig' %}

{# @var currentUser \App\Entity\User\User #}
{% set currentUser = app.token.user %}

{% block content %}
    <div class="mt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ 'Users'|trans }}</h2>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'Username'|trans }}</th>
                    <th scope="col">{{ 'Discord ID'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {# @var user \App\Entity\User\User #}
                    {% for user in users %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <th>{{ user.username }}</th>
                            <td>{{ user.externalId }}</td>
                            <td class="table-actions">
                                {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::USER_PERMISSIONS_MANAGE'), user) %}
                                    <a href="{{ path('app_user_permissions', { id: user.id }) }}" title="{{ 'Manage user permissions'|trans }}">
                                        <i class="fas fa-user-shield"></i>
                                    </a>
                                {% endif %}

                                {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::USER_DELETE'), user) %}
                                    <a href="{{ path('app_user_delete', { id: user.id }) }}" title="{{ 'Delete user'|trans }}">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
