{% extends 'container.html.twig' %}

{# @var user \App\Entity\User\User #}

{% block content %}
    <div class="row my-3 align-items-center">
        <div class="col-md-12">
            <h2>{{ user.username }} - {{ 'User permissions management'|trans }}</h2>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group text-right">
        <button type="submit" class="btn-primary btn">{{ 'Apply'|trans }}</button>
        <a href="{{ path('app_user_list') }}" class="btn-secondary btn">{{ 'Cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
