{% extends 'container.html.twig' %}

{# @var user \App\Entity\User\User #}

{% block content %}
    {% embed '_partial/_page_header.html.twig' %}
        {% block page_title %}
            {{ user.username }} - {{ 'User permissions management'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group text-right">
        <button type="submit" class="btn-primary btn">{{ 'Apply'|trans }}</button>
        <a href="{{ path('app_user_list') }}" class="btn-secondary btn">{{ 'Cancel'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
