<!-- Footer -->
<footer id="footer" class="page-footer font-small unique-color-dark">

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row pt-3">
            <!-- Column-->
            <div class="col-sm-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>{{ 'Useful links'|trans }}</strong>
                </h6>
                <hr class="hr-light mt-0 d-inline-block" style="width: 60px;">
                <p>
                    <a href="{{ url.statute }}">{{ 'Statute'|trans }}</a>
                </p>
                <p>
                    <a href="{{ url.calendar }}">{{ 'Calendar'|trans }}</a>
                </p>
                <p>
                    <a href="{{ url.wiki }}">{{ 'Wiki'|trans }}</a>
                </p>
            </div>
            <!--/ Column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © {{ 'now'|date('Y') }} Copyright:
        <a href="https://github.com/ArmaForces/Website/contributors"> ArmaForces</a>
        <br/>
        <span class="small">
            Version:
            <a href="https://github.com/ArmaForces/Website/commit/{{ app_version() }}">{{ app_version_short() }}</a>
        </span>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
