<!-- Mission image -->
<div class="img-mission">
    <img src="{{ proxy_image(mission.image ?? 'https://via.placeholder.com/300x200.png?text=No%20mission%20image') }}" alt="">
</div>

<!-- Mission header -->
<div class="text-center mt-2 mb-4">
    <h4>
        <span class="font-weight-bold">{{ mission.title }}</span>
    </h4>
    <div class="d-flex justify-content-between">
        {% if mission.archived %}
            <div>{{ mission.date|date('Y-m-d H:m') }}</div>
        {% else %}
            <div class="dropdown dropdown-no-arrow">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ mission.date|date('Y-m-d H:m') }}
                    <i class="fa fa-calendar-day"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ mission_event_google(mission) }}">
                        <i class="fab fa-google"></i>oogle
                    </a>
                    <a class="dropdown-item" href="{{ mission_event_ical(mission) }}" type="text/calendar" download="{{ mission.title }}.ics">
                        <i class="fa fa-calendar-alt"></i> Ical
                    </a>
                </div>
            </div>
        {% endif %}
        <span>
            {{ 'Enlisted'|trans }} {{ mission.occupiedSlots }}/{{ mission.allSlots }}
        </span>
    </div>
</div>

<!-- Mission description -->
<div class="text-justify">
    {{ ((mission.description|u).truncate(350, '...'))|markdown_to_html }}
</div>
