<!-- Navbar -->
<div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="{{ path('app_home_index') }}">
        <img src="{{ asset('img/favicon-192x192.png') }}" alt="logo" class="img-fluid">
    </a>
    <!--/ Navbar brand -->

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--/ Collapse button -->

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="main-nav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto smooth-scroll">
            <li class="nav-item">
                <a class="nav-link" href="/">{{ 'Homepage'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_home_missions') }}">{{ 'Missions'|trans }}</a>
            </li>
            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST')) or is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_LIST')) -%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="modlist-dropdown" role="button" data-toggle="dropdown">
                        {{ 'Manage mods'|trans }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('app_mod_list_public_select') }}">{{ 'Get mods'|trans }}</a>

                        {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST')) %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_mod_list') }}">{{ 'Mods'|trans }}</a>
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_GROUP_LIST')) %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_mod_group_list') }}">{{ 'Mod groups'|trans }}</a>
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::MOD_LIST_LIST')) %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_mod_list_list') }}">{{ 'Mod lists'|trans }}</a>
                        {% endif %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_mod_list_public_select') }}">{{ 'Get mods'|trans }}</a>
                </li>
            {% endif %}
            {% if is_granted(constant('App\\Security\\Enum\\PermissionsEnum::USER_LIST')) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user_list') }}">{{ 'Users'|trans }}</a>
                </li>
            {% endif %}
        </ul>
        <!-- Links -->

        <!-- Icons -->
        <ul class="navbar-nav nav-icons">
            <!-- Discord -->
            <li class="nav-item">
                <a href="{{ global.app.url.discord }}" target="_blank" class="nav-link">
                    <i class="fab fa-discord"></i>
                </a>
            </li>
            <!--/ Discord -->

            <!-- Steam -->
            <li class="nav-item">
                <a href="{{ global.app.url.steam }}" target="_blank" class="nav-link">
                    <i class="fab fa-steam"></i>
                </a>
            </li>
            <!--/ Steam -->

            <!-- TeamSpeak -->
            <li class="nav-item"
                {% if not is_granted('ROLE_USER') -%}
                    title="{{ 'Available after login'|trans }}"
                    data-toggle="tooltip" data-placement="bottom"
                {% endif %}
            >
                {% if not is_granted('ROLE_USER') -%}
                    <a class="nav-link disabled"><i class="fab fa-teamspeak"></i></a>
                {%- else -%}
                    <a href="{{ global.app.url.teamspeak }}" class="nav-link">
                        <i class="fab fa-teamspeak"></i>
                    </a>
                {%- endif %}
            </li>
            <!--/ TeamSpeak -->

            <!-- Login -->
            <li id="navmenu" class="nav-item dropdown dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-toggle="dropdown">
                    <i class="fa fa-user-circle
                        {% if is_granted('ROLE_USER') %}
                            avatar" style="background-image: url({{ current_user_avatar_url() }}), url({{ default_avatar_url() }});
                        {% endif %}"
                    ></i>
                </a>
                <div class="dropdown-menu">
                    {% if is_granted('ROLE_USER') -%}
                        <a class="dropdown-item" href="{{ path('app_security_logout') }}">{{ 'Logout'|trans }}</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('app_security_connect_discord') }}">{{ 'Login'|trans }}</a>
                    {% endif %}
                </div>
            </li>
            <!--/ Login -->
        </ul>
        <!--/ Icons -->
    </div>
    <!--/ Collapsible content -->
</div>
<!--/ Navbar -->
